In [5]:
# add matplotlib inline magic command
%matplotlib inline
#dependencies
import pandas as pd
import os
import numpy as np
import statistics
import matplotlib.pyplot as plt

In [20]:
#files to load 
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [9]:

#read the city_data.csv
city_data = os.path.join("Resources/city_data.csv")
city_df = pd.read_csv(city_data)
city_df

                city  driver_count   type
0        Richardfort            38  Urban
1       Williamsstad            59  Urban
2        Port Angela            67  Urban
3         Rodneyfort            34  Urban
4        West Robert            39  Urban
..               ...           ...    ...
115     Bradshawfurt             7  Rural
116     New Ryantown             2  Rural
117   Randallchester             9  Rural
118      Jessicaport             1  Rural
119  South Saramouth             7  Rural

[120 rows x 3 columns]

In [19]:
city_type=[]
driver=[]

In [12]:
#read the ride_data.csv
ride_data = os.path.join("Resources/ride_data.csv")
ride_df = pd.read_csv(ride_data)
ride_df.head(10)

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344
5        South Latoya  2019-03-11 12:26:48   9.52  1994999424437
6       New Paulville  2019-02-27 11:17:56  43.25   793208410091
7        Simpsonburgh  2019-04-26 00:43:24  35.98   111953927754
8     South Karenland  2019-01-08 03:28:48  35.09  7995623208694
9       North Jasmine  2019-03-09 06:26:29  42.81  5327642267789

In [17]:
#check Data Type
city_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [22]:
#get number of  items on dictionaries
pd.value_counts(city_df['type'])

Urban       66
Suburban    36
Rural       18
Name: type, dtype: int64

In [23]:
#get the columns and the rows that are not full
city_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [24]:
#Get the columns and the rows thata are not null
city_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [26]:
ride_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [28]:
#get the unique values of the type of city
city_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [34]:
sum(city_df["type"]=="Urban")

66

In [35]:
sum(city_df["type"]=="Suburban")

36

In [36]:
sum(city_df["type"]== "Rural")

18

In [37]:
#get the columns and the rows that are not blank
ride_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [38]:
#get the columns and rows that are null
ride_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [39]:
#get the datat types of each column
ride_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [42]:
pyber_data_df= pd.merge(ride_df,city_df, how= "left", on=["city","city"])
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban